body{
   background-image: url("../images/fondo.jpg");
   opacity: 0.8;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment:fixed;
   background-size: cover;*/

   /*backgroun size sirver para que ocupe toda el area del browser y aumenta la imagen
   proporcioalmente*/
   font-family: 'Arimo', sans-serif;
   text-align: center;
   color: #ffff;
   /*background-color: #bbb2e6;*/

}


*{box-sizing: border-box;}

.container{
  width: 960px;
  background-color: #b477e4;
  padding: 10px;

  border: 2px dotted black;
  margin: 50px auto;
  /*margin auto centra el container centrar de forma horizontalment si es ub block y no flota*/
  /*overflow: hidden;*/
  /* es para evitar que se comprima la caja, es decir, es para contener a sus hijos
  que flotan*/

}

header {
  background-color: #dd3b2f;
  padding: 30px;
  border: 5px dotted;
  margin:20px 0px;

}


.platos-fuertes{
  width: 630px;
  padding: 30px;
  border: 5px dotted;
  margin:20px 0px;
  background-color: #df871f;
  float: right;



}
.platos-fuertes img{
  width: 350px;
  margin: 5px;
}

.main-nav {
  background-color:#28aa31;
  width: 300px;
  float: left;
  border: 5px dotted;
  padding: 30px;
    margin:20px 0px;


}


footer{
    padding: 30px;
    background-color: #186670;
    margin:20px 0px;
    color: white;
    border: 5px dotted;
    clear: both;
    /*el clear both usado para frenar la flotacion es decir que no suba*/


}



a{
  color:#e9e5dd;
}

a:hover{
  text-decoration: overline;
  color: #f50a3c;

}
.destacado{
  font-weight: bold;
  line-height: 30px;
  font-size: 14px;
  color: #ffff;
  font-size: 22px;
  background-color: #e10055;

}

p{
  color: #e9e5dd;

}

input:focus{
  background-color: #dcf50a ;
}

textarea {
    resize: vertical;
}

button:hover{
  border-radius: 30px;
  background-color: red;
}

.formulario{
  text-align: left;
  color:#e0c600;
}
