* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	font-size: 10px;
	background-color: #f2f2f2;
	margin: 0;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.main-nav {
	flex-grow: 1;
	width: 100%;
	order: -1;
}

.main-nav a {
	display: block;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	font-size: 1.3em;
	padding: 15px;
	border-bottom: solid 1px #fff;
}

.logo {
	width: 150px;
	height: 150px;
	background-color: #333;
	border-radius: 50%;
	margin: 30px 0;
	color: #fff;
	font-size: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
}


@media (min-width: 560px) {
	.main-nav {
		order: 0;
	}

	.main-nav ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.main-nav li {
		width: 18%;
	}
}
