@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

*{
  box-sizing: border-box;
}

body{

  font-family: Roboto, sans-serif;
  background-image: url(../images/bg-body.png);
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*para que mi lista no tenga bulet ni margen ni padding*/


a{
  text-decoration: none;
  display: inline-block;
}
/*para quitar subrayado*/

img{
  width: 100%;
}
/*para que mis imagenes se adapten al elemento padre*/


.logo{
  border-radius: 50%;
  border: solid 1px #000;
  width: 180px;
  margin: 15px auto 30px;
  display: block;
}
/*el margin auto funciona si es un elemnto de bloque o si esta flotado por eso necesito
obligarlo a que sea de bloque*/

.main-nav a, .main-footer a{
  background-color: #333;
  color: #fff;
  font-size: 1.3em;
  display: block;
  border-bottom: solid 1px #fff;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;

}
/*le pongo display block para que tome todo el ancho ya que a es un elemnto de linea*/
/*text aling center sirve solo en bloque*/

.toggle-nav{
  display: block;
  margin: 0 auto 30px;
  background-color: #333;
  color: #fff;
  width: 40px;
  text-align: center;
  font-size: 1.3em;
  padding: 10px 0;

}
/*los elementos de bloque usan el 100% de su contenedor*/
/*las tres rayas son letras y tipografia, le cambio tamaño con font size y centro aling center*/


.main-nav, .banner{
  display: none;
}
.container{
  margin: 0 15px;
}



.product{
  margin-top: 30px;
}

.product a {
  display: inline-block;
  padding: 15px 25px;
  background-color: #333;
  color:#fff;
}

/*en este tipo de elemento es bueno no ocupar width si decide no le aplicas width el texto le da la extension en el block*/

.main-footer{
  margin-top: 30px;
}

.main-footer a{
  background-color: #e61730;

}


/*margenes de forma horizontal pensarlo siempre en terminos porcentuales*/

@media (min-width: 760px) {
  .container{
    margin:0;
  }

  .toggle-nav{
    display: none;
  }
  .main-nav, .banner{
    display: block !important;
  }
  /*el impotant sirve pisara la jerarquia que se presenta le estoy diciendo que esto sea mas importante que el style que puede estar sobre la linea del html*/

.vip-products{
  overflow: hidden;
}
.product{
    float: left;
    width: 48.34%;
    margin-left: 0.83%;
    margin-right: 0.83%;

  }

  .main-nav{
    overflow: hidden;
    margin-bottom: 30px;
  }
  /*overflowhidden para que contenga a los elementos flotados*/

  .main-nav li{
    float: left;
    margin: 0 0.83%;
    width: 15%;
  }
 /* 10 px en un ancho de 1200px es 0.83%*/
  .main-nav a{
     font-size: 1.1em;
     padding: 15px 0;

  }

  .banner, .main-footer{
     margin-left: 0.83%;
     margin-right: 0.83%;
  }
}

@media (min-width:1200px){
  .container{
    max-width: 1200px;
    margin: auto;
  }
 .product{
    width: 31.66%;
 }

 .main-footer {

   margin-right: 1%;


 }

 .main-footer a{
    float: right;
    display: block;
    width: 16.5%;
    padding-bottom: 100px;
    margin-top: 10px;


 }
}
