@import "normalize.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');


*{
  box-sizing: border-box;
}

body{

  font-family: Roboto, sans-serif;
  background-image: url(../images/bg-body.png);
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*para que mi lista no tenga bulet ni margen ni padding*/


a{
  text-decoration: none;
  display: inline-block;
}
/*para quitar subrayado*/

img{
  width: 100%;
}
/*para que mis imagenes se adapten al elemento padre*/


.logo{
  border-radius: 50%;
  border: solid 1px #000;
  width: 180px;
  margin: 15px auto 30px;
  display: block;
}
/*el margin auto funciona si es un elemnto de bloque o si esta flotado por eso necesito
obligarlo a que sea de bloque*/

.main-nav a{
  background-color: #333;
  color: #fff;
  font-size: 1.3em;
  display: block;
  border-bottom: solid 1px #fff;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;

}
/*le pongo display block para que tome todo el ancho ya que a es un elemnto de linea*/
/*text aling center sirve solo en bloque*/
